[submodule "AER-skills"]
	path = AER-skills
	url = https://github.com/brycewang-stanford/AER-skills.git
[submodule "nature-skills"]
	path = nature-skills
	url = https://github.com/Yuan1z0825/nature-skills.git
[submodule "nature-paper-skills"]
	path = nature-paper-skills
	url = https://github.com/Boom5426/Nature-Paper-Skills.git
[submodule "claude-scholar"]
	path = claude-scholar
	url = https://github.com/Galaxy-Dawn/claude-scholar.git
[submodule "codex-claude-academic-skills"]
	path = codex-claude-academic-skills
	url = https://github.com/zLanqing/codex-claude-academic-skills.git
