[submodule "economic-research-skills"]
	path = economic-research-skills
	url = https://github.com/brycewang-stanford/economic-research-skills.git
[submodule "management-world-skills"]
	path = management-world-skills
	url = https://github.com/brycewang-stanford/management-world-skills.git
[submodule "AER-skills"]
	path = AER-skills
	url = https://github.com/brycewang-stanford/AER-skills.git
